<div class="mt-2">

    <div class="table-responsive mt-2">
        <table class="table table-bordered" id="dataTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
            </tfoot>
            <tbody>
            <!--<tr *ngFor="let repairType of repairTypeService.repairTypes.value">
                <td>{{repairType.name}}</td>
                <td>{{repairType.repairCost}}</td>
                <td>
                    <span class="input-group">
                        <button class="btn btn-outline-secondary" type="button" (click)="addRepairItem(repairType)"
                                id="button-addon2">Add to Diagnostic</button>
                    </span>
                </td>
            </tr>-->
            </tbody>
        </table>

        <!--<app-paginator
            [length]="paginationService.paginationData.value.totalItems"
            [pageSize]="paginationService.paginationData.value.limit"
            [pageIndex]="paginationService.paginationData.value.page - 1"
            (page)="setPage($event)"
        ></app-paginator>-->

    </div>
</div>
