<div class="mt-2">

    <div class="table-responsive mt-2">
        <table class="table table-bordered" id="dataTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
            </tfoot>
            <tbody>
            <tr *ngFor="let repairTypeItem of repairService.repair.value.selectedRepairs"
            >
                <td *ngIf="repairTypeItem.repairType.carPart">{{repairTypeItem.repairType.name}}</td>
                <td *ngIf="repairTypeItem.repairType.carPart">{{repairTypeItem.repairType.repairCost}}</td>
                <!--<td>
                    <span class="input-group">
                        <button class="btn btn-outline-secondary" type="button" (click)="addRepairItem(repairType)"
                                id="button-addon2">Add to Diagnostic</button>
                    </span>
                </td>-->
            </tr>
            </tbody>
        </table>

    </div>
</div>
