<div class="mt-2">

    <div class="table-responsive mt-2">
        <table class="table table-bordered" id="dataTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </tfoot>
            <tbody>
            <tr *ngFor="let repairTypeItem of repairService.repair.value.selectedRepairs"
            >
                <td *ngIf="repairTypeItem.repairType.carPart">{{repairTypeItem.repairType.name}}</td>
                <td *ngIf="repairTypeItem.repairType.carPart">{{repairTypeItem.repairType.repairCost}}</td>
                <td *ngIf="repairTypeItem.repairType.carPart">{{repairTypeItem.quantity}}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
