<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">{{title}}</h1>

<!-- DataTales Example -->

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable">
        <thead>
        <tr>
            <th>Matricule</th>
            <th>Marque</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Matricule</th>
            <th>Marque</th>
        </tr>
        </tfoot>
        <tbody>
        <tr *ngFor="let car of carService.cars.value">
            <td><a class="nav-link" [routerLink]="['/cars', car._id]">{{car.carNumber}}</a></td>
            <td><a class="nav-link" [routerLink]="['/cars', car._id]">{{car.brand}}</a></td>
        </tr>
        </tbody>
    </table>

    <app-paginator
        [length]="paginationService.paginationData.value.totalItems"
        [pageSize]="paginationService.paginationData.value.limit"
        [pageIndex]="paginationService.paginationData.value.page - 1"
        (page)="setPage($event)"
    ></app-paginator>

</div>

