/* You can add global styles to this file, and also import other style files */


html, body {
    height: 100%;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.checkbox-wrapper-2 .ikxBAC {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
    transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
    cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
    background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
    background-color: #535db3;
}


/**
* loader
*/
.loader-container {
    position: absolute;
    z-index: 4;
    --primary: #fff;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.loader {
    margin: 50px;
}

/**
  * push-pop
  * lil push pop effect, push one side out and one side in
  * @author jh3y
*/
.push-pop {
    --duration: .85;
    height: 100px;
    width: 100px;
    position: relative;
    overflow: hidden;
}

.push-pop > div:nth-of-type(1) {
    height: 20px;
    width: 20px;
    position: absolute;
    -webkit-animation: push-pop-slide calc(var(--duration) * 1s) infinite alternate ease-in-out;
    animation: push-pop-slide calc(var(--duration) * 1s) infinite alternate ease-in-out;
    transform: translate(0, -100%);
    top: 100%;
    left: 0;
}

.push-pop > div:nth-of-type(1):after {
    -webkit-animation: push-pop-flip calc(var(--duration) * 1s) infinite alternate ease-in-out;
    animation: push-pop-flip calc(var(--duration) * 1s) infinite alternate ease-in-out;
    background: var(--primary);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}

.push-pop > div:nth-of-type(2) {
    background: var(--primary);
    height: 30px;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translate(-50%, -100%);
    width: 20px;
}

.push-pop:after, .push-pop:before {
    -webkit-animation: push-pop-pushed calc(var(--duration) * 1s) alternate infinite ease;
    animation: push-pop-pushed calc(var(--duration) * 1s) alternate infinite ease;
    background: var(--primary);
    bottom: 0;
    content: "";
    height: 40px;
    position: absolute;
    width: 20px;
}

.push-pop:before {
    animation: push-pop-pushed calc(var(--duration) * 1s) alternate-reverse infinite ease;
    left: 0;
}

.push-pop:after {
    right: 0;
}

@-webkit-keyframes push-pop-pushed {
    0%, 72.5% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 100%);
    }
}

@keyframes push-pop-pushed {
    0%, 72.5% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 100%);
    }
}

@-webkit-keyframes push-pop-flip {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(0, -80px) rotate(90deg);
    }
    100% {
        transform: translate(0, 0) rotate(180deg);
    }
}

@keyframes push-pop-flip {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(0, -80px) rotate(90deg);
    }
    100% {
        transform: translate(0, 0) rotate(180deg);
    }
}

@-webkit-keyframes push-pop-slide {
    to {
        transform: translate(0, -100%) translate(80px, 0);
    }
}

@keyframes push-pop-slide {
    to {
        transform: translate(0, -100%) translate(80px, 0);
    }
}

/**
  * push-out
  * lil push out effect, push one side out and one side in
  * @author jh3y
*/
.push-out {
    --duration: .85;
    height: 100px;
    width: 100px;
    position: relative;
    overflow: hidden;
}

.push-out > div:nth-of-type(1) {
    height: 20px;
    width: 20px;
    position: absolute;
    -webkit-animation: push-out-slide calc(var(--duration) * 1s) infinite alternate ease-in-out;
    animation: push-out-slide calc(var(--duration) * 1s) infinite alternate ease-in-out;
    transform: translate(0, -100%);
    top: 100%;
    left: 0;
}

.push-out > div:nth-of-type(1):after {
    -webkit-animation: push-out-flip calc(var(--duration) * 1s) infinite alternate ease-in-out;
    animation: push-out-flip calc(var(--duration) * 1s) infinite alternate ease-in-out;
    background: var(--primary);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}

.push-out > div:nth-of-type(2) {
    background: var(--primary);
    height: 30px;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translate(-50%, -100%);
    width: 20px;
}

.push-out:after, .push-out:before {
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: calc(var(--duration) * 4s);
    animation-duration: calc(var(--duration) * 4s);
    background: var(--primary);
    bottom: 0;
    content: "";
    height: 40px;
    position: absolute;
    width: 20px;
}

.push-out:after {
    -webkit-animation-name: push-out-pushed-1;
    animation-name: push-out-pushed-1;
    right: 0;
}

.push-out:before {
    -webkit-animation-name: push-out-pushed-2;
    animation-name: push-out-pushed-2;
    left: 0;
}

@-webkit-keyframes push-out-pushed-1 {
    0%, 18.125%, 50%, 68.125%, 100% {
        transform: translate(0, 0);
    }
    25%, 43.125%, 75%, 93.125% {
        transform: translate(0, 100%);
    }
}

@keyframes push-out-pushed-1 {
    0%, 18.125%, 50%, 68.125%, 100% {
        transform: translate(0, 0);
    }
    25%, 43.125%, 75%, 93.125% {
        transform: translate(0, 100%);
    }
}

@-webkit-keyframes push-out-pushed-2 {
    0%, 18.125%, 50%, 68.125%, 100% {
        transform: translate(0, 100%);
    }
    25%, 43.125%, 75%, 93.125% {
        transform: translate(0, 0);
    }
}

@keyframes push-out-pushed-2 {
    0%, 18.125%, 50%, 68.125%, 100% {
        transform: translate(0, 100%);
    }
    25%, 43.125%, 75%, 93.125% {
        transform: translate(0, 0);
    }
}

@-webkit-keyframes push-out-flip {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(0, -80px) rotate(90deg);
    }
    100% {
        transform: translate(0, 0) rotate(180deg);
    }
}

@keyframes push-out-flip {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(0, -80px) rotate(90deg);
    }
    100% {
        transform: translate(0, 0) rotate(180deg);
    }
}

@-webkit-keyframes push-out-slide {
    to {
        transform: translate(0, -100%) translate(80px, 0);
    }
}

@keyframes push-out-slide {
    to {
        transform: translate(0, -100%) translate(80px, 0);
    }
}
