<div>
    <h5 class="card-title">Profile Details</h5>

    <div class="row">
        <div class="col-lg-3 col-md-4 label ">Last Name</div>
        <p class="col-lg-9 col-md-8 ">{{sessionService.onlineUser.value!.lastName}}</p>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label ">Fist Name</div>
        <p class="col-lg-9 col-md-8">{{sessionService.onlineUser.value!.firstName}}</p>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Email Address</div>
        <p class="col-lg-9 col-md-8">{{sessionService.onlineUser.value!.emailAddress}}</p>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Username</div>
        <p class="col-lg-9 col-md-8">{{sessionService.onlineUser.value!.userName}}</p>
    </div>

</div>
