<!-- DataTales Example -->
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Repair Cost</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Repair Cost</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        </tfoot>
        <tbody>
        <tr *ngFor="let repair of repairService.repair.value.car_diagnosis.diagnosisRepairs">
            <td>{{repair.repairType.name}}</td>
            <td>{{repair.repairType.repairCost}}</td>
            <td>{{repair.quantity}}</td>
            <td>
                <div class="checkbox-wrapper-2">
                    <input type="checkbox" class="sc-gJwTLC ikxBAC" (change)="updateSelectedList(repair.repairType._id)">
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
